/AI/*
/client/BGM/*
/client/data/*
/client/resources/*
/client/System/*
/dist/
/node_modules/
/.vite-build-tmp/
/src/Plugins/*/
/index.html
/package-lock.json
/GrannyModelViewer.js
/GrfViewer.js
/MapViewer.js
/ModelViewer.js
/Online.js
/StrViewer.js
/ThreadEventHandler.js
/data/*
/save/*

# Environment files
.env
.env.local

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
